*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-prim: hsl(0, 0%, 100%);
  --clr-sec: hsl(80, 60%, 35%);
  --clr-accent: hsl(270, 100%, 60%);
}

body {
  margin: 0;
  padding: 0;
}
