.navbar__wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: var(--clr-sec);
  color: var(--clr-prim);
  position: relative;
  padding: 0.5rem;

  margin-bottom: 0.5rem;
  box-shadow: 0 -2rem 0.5rem 2rem hsl(0, 0%, 0%, 20%);
}

.logotype {
  max-width: unset;
  height: 3rem;
}

.profile {
  grid-column: -4/-2;
  align-self: center;
}

.signin {
  grid-column: -3/-2;
  align-self: center;

  text-align: center;
  text-decoration: underline;
}

.logotype,
.signin {
  cursor: pointer;
}
